{% extends "base_generic.html" %}

{% block content %}
  <h1>Order Form List</h1>

  <button onclick="location.href='{% url 'orderform_create' %}'">增新訂單</button>
  <br><br>

  {% if orderform_list %}
  <ul>
    {% for orderform in orderform_list %}
      <li>
        <a href="/onlineOrderSystem/orderform/{{orderform.id}}">{{ orderform.IDName }}</a> ({{orderform.firmName}})
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no Order Forms in the Database.</p>
  {% endif %}       
{% endblock %}

